.x7vT0{display:block;padding:16px;border:solid 1px var(--MI_THEME-divider);border-radius:6px;margin-bottom:8px}.x7vT0:hover{border:solid 1px var(--MI_THEME-accent);text-decoration:none}.xsYsC{font-size:.9em;opacity:.7}
