.xDBOW{display:flex;align-items:center;gap:8px}.xiWjC{flex-grow:1;min-width:0;font-weight:700;color:var(--MI_THEME-error)}.xlArr{flex-shrink:0}.x2Pqw{font-weight:700;color:var(--MI_THEME-infoWarnFg)}
