.xef0a{display:flex;align-items:center;padding:8px 16px;margin-bottom:8px;border-bottom:solid 2px var(--MI_THEME-divider)}.x9AYY{width:24px;height:24px;margin-right:8px}.xiCKG{width:32px;height:32px}.x6zmQ{margin-left:auto}
