.xgeRX,.xsYEp{display:flex;flex-direction:column;gap:12px}.xlF22{font-family:serif}.xjk7v{font-family:Fira code,Fira Mono,Consolas,Menlo,Courier,monospace}.xjImb{background:var(--MI_THEME-bg);border-radius:8px}
