.x5EDt,.xiF5X{display:block;width:100%;height:100%;max-height:200px;box-sizing:border-box;object-fit:contain}.xsu8r{height:10px;background:#0000001a;border-radius:999px;overflow:clip}.xhsXJ{height:100%;border-radius:999px}
