.xg9Cy{-webkit-backdrop-filter:var(--MI-blur, blur(15px));backdrop-filter:var(--MI-blur, blur(15px));background:color(from var(--MI_THEME-bg) srgb r g b/.5);border-top:solid .5px var(--MI_THEME-divider)}
