.vvcocwet.wide>.body[data-v-0b40ab23]{display:flex;height:100%}.vvcocwet.wide>.body>.nav[data-v-0b40ab23]{width:34%;padding-right:32px;box-sizing:border-box}.vvcocwet.wide>.body>.main[data-v-0b40ab23]{flex:1;min-width:0}
