.xmsKE{position:relative}.x8jwk{position:absolute;top:0;left:0;width:var(--op);height:4px;background:var(--MI_THEME-accent);border-radius:0 999px 999px 0;transition:width .2s ease}.x8jwk.xode9{background:var(--MI_THEME-warn)}
