.xcUt6{font-size:.8em;padding:16px;background:var(--MI_THEME-infoWarnBg);color:var(--MI_THEME-infoWarnFg);border-radius:var(--MI-radius);overflow:clip}.xCG8D{margin-left:4px;color:var(--MI_THEME-accent)}
