.xe1qa{padding:8px}.x5QzL{display:grid;grid-template-columns:repeat(auto-fill,minmax(120px,1fr));gap:var(--MI-marginHalf)}@media screen and (min-width:600px){.x5QzL{grid-template-columns:repeat(auto-fill,minmax(160px,1fr))}}
